.cart-show ul article, .cart-show h2, .cart-show, .products, header {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  color: #1b1b1b;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  width: 100%;
  padding: 25px 50px;
  background-color: #2784c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
header h1 {
  font-size: 3rem;
  color: #ffffff;
  font-family: "Share Tech Mono", monospace;
  font-weight: 700;
  display: flex;
  align-items: center;
}
header h1 img {
  width: 5rem;
  padding-left: 1rem;
}
header i {
  width: 35px;
  cursor: pointer;
  display: inline-block;
}
header i img {
  width: 4rem;
}
header div {
  position: relative;
}
header div .header__cart-badge {
  background-color: #ff0909;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  display: none;
}
header div .header__cart-badge-show {
  position: absolute;
  top: -1px;
  right: -18px;
  width: 30px;
  height: 30px;
  background-color: #ff0909;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  opacity: 0.9;
}

main {
  background-color: #eeecec;
  padding-top: 10rem;
}

.menu-hide {
  width: 400px;
  background-color: #ffffff;
  padding: 25px;
  padding-left: 0;
  height: 100%;
  position: fixed;
  display: none;
  top: 100px;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
}
.menu-hide ul {
  list-style: none;
  color: #11005f;
  font-weight: 500;
  padding: 10px;
  padding: 0 0.4rem 0 0;
}
.menu-hide ul li {
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #ffffff;
  width: 100%;
  cursor: pointer;
}
.menu-hide .menu-hide__div-menu {
  display: flex;
  justify-content: end;
}
.menu-hide .menu-hide__div-menu--icon-close-menu {
  width: 5%;
  cursor: pointer;
}

.menu-show {
  width: 400px;
  background-color: #e3e2e2;
  padding: 20px;
  padding-left: 0;
  height: 100%;
  position: fixed;
  left: 0;
  top: 100px;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
}
.menu-show ul {
  list-style: none;
  color: #11005f;
  font-weight: 500;
  padding: 10px;
  padding: 0 0.4rem 0 0;
}
.menu-show ul li {
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  width: 100%;
  cursor: pointer;
}
.menu-show .menu-hide__div-menu {
  display: flex;
  justify-content: end;
}
.menu-show .menu-hide__div-menu--icon-close-menu {
  width: 5%;
  cursor: pointer;
}

.banner {
  width: 100%;
  padding: 40px 0 0 0;
  text-align: center;
  background-image: url(../assets/images/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.banner h2 {
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  margin: 10px;
}
.banner p {
  width: 350px;
  margin: 0 auto;
  font-size: 25px;
  padding-bottom: 2rem;
}

.products {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}
.products article {
  text-align: center;
  border: 4px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  justify-content: center;
  padding-bottom: 1.5rem;
}
.products article img {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.products article h3 {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
.products article p {
  font-weight: 500;
  font-size: 15px;
}
.products article button {
  width: 70%;
  height: 10%;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  background-color: #4e31d2;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
}
.products article button img {
  width: 15%;
  margin: 3px;
}
.products article .product-card__trash-icon {
  display: none;
}

.cart-hide {
  display: none;
}

.cart-show {
  width: 500px;
  background-color: #ffffff;
  padding: 25px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 100px;
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
  overflow: auto;
}
.cart-show .cart-hide__div-cart .cart__close-icon {
  width: 15px;
  cursor: pointer;
}
.cart-show h2 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 0;
}
.cart-show ul article {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.cart-show ul article img {
  width: 60px;
}
.cart-show ul article .cart__div--icon {
  width: 20px;
}
.cart-show ul article p {
  font-weight: 500;
}
.cart-show ul article i {
  width: 25px;
  cursor: pointer;
}
.cart-show ul article button {
  display: none;
}
.cart-show .product-card__trash-icon {
  width: 8%;
  cursor: pointer;
}
.cart-show .check__out-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-show .check__out-div .check__out-button {
  background-color: #1b1b1b;
  color: #ffffff;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  width: 100%;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20%;
}
.cart-show .check__out-div .check__out-button-hide {
  display: none;
}

.content {
  height: 400px;
  /* Mayor que el contenedor para mostrar el desplazamiento */
  padding: 10px;
  background-color: #f0f0f0;
}

footer {
  background-color: #2784c2;
  color: #ffffff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}
footer .footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
footer .footer__container .footer__section--links,
footer .footer__container .footer__section--contact {
  flex: 1;
}
footer .footer__container .footer__section--links .footer__list,
footer .footer__container .footer__section--contact .footer__list {
  list-style: none;
  padding: 0;
}
footer .footer__container .footer__section--links .footer__list .footer__item,
footer .footer__container .footer__section--contact .footer__list .footer__item {
  margin-bottom: 5px;
  color: #ffffff;
}
footer .footer__container .footer__section--links .footer__list .footer__link,
footer .footer__container .footer__section--contact .footer__list .footer__link {
  color: #bdc3c7;
  text-decoration: none;
  transition: color 0.3s;
}
footer .footer__container .footer__section {
  flex: 1;
  margin: 10px;
}
footer .footer__container .footer__section .footer__text {
  margin: 5px 0;
  color: #bdc3c7;
}
footer .footer__container .footer__section--social {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__container .footer__section--social .footer__title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ecf0f1;
}
footer .footer__container .footer__section--social .footer__social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
footer .footer__container .footer__section--social .footer__social-icons img {
  width: 50%;
}
footer .footer__link:hover {
  color: #ecf0f1;
}

@media (max-width: 700px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
    padding-bottom: 4.3rem;
  }
  header i img {
    width: 100%;
  }
  header img {
    width: 30%;
  }
  header h1 {
    font-size: 1.5rem;
    color: #ffffff;
    font-family: "Share Tech Mono", monospace;
    font-weight: 500;
  }
  header h1 img {
    display: none;
  }
  .banner {
    width: 100%;
  }
  .banner h2 {
    font-size: 18px;
  }
  .banner p {
    font-size: 16px;
  }
  .products {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .products article img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  .products article h3,
  .products article p {
    padding: 0 10px;
  }
  .cart-show {
    width: 100%;
    box-shadow: none;
  }
  .cart-show h2 {
    padding: 15px 0;
  }
  .cart-show div {
    flex-direction: column;
    align-items: center;
  }
  .cart-show div img {
    width: 100px;
  }
  .cart-show div p {
    margin: 0;
  }
  footer {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */